.reviewList {
    width: 100%;
    max-width: 1300px;
    margin: 50px auto;
  
    .swiper {
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: calc(50% - 20px); /* 두 슬라이드가 화면에 정확히 맞도록 너비 설정, spaceBetween의 절반 값을 뺌 */
    }
  
    .review {
      background-color: #f3f3f3;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      color: #000;
      width: 100%; /* 슬라이드 안에 꽉 차도록 설정 */
      max-width: 600px; /* 슬라이드의 최대 너비 설정 */
  
      &Content {
        font-size: 16px;
        margin-bottom: 10px;
      }
  
      &Details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
  
      &Rate {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
      }
  
      &Date,
      &User {
        font-size: 14px;
        color: #888;
        margin-bottom: 3px;
      }
  
      .starIcon {
        color: #ffc107;
        margin-right: 5px;
      }
    }
  
    
}
  
    .swiperButtonPrev,
    .swiperButtonNext {
      color: #860e0e !important; /* Change the color of the navigation buttons */
    }

    