.roomDetail {
  display: flex;
  flex-wrap: wrap;
  font-family: "Red Hat Display", sans-serif;
  background: #F4E8D3;
  border-radius: 32px;
  color: #333333;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto; /* Center the list */
  justify-content: center; /* Center items */

  .room {
    color: #333333;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background: #F4E8D3;
    flex: 1 1 calc(50% - 40px); /* Adjusted to fit 2 items in a row */
    max-width: calc(50% - 100px); /* Ensure it doesn't grow larger */
    box-sizing: border-box;
    h2 {
      margin: 0 0 10px;
      font-size: 1.5em;
      
    }
    

    p {
      margin: 5px 0;
      
    }

    .booknow {
      margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    right: 10px;
    color: #fff;
    background-color: #B37A7A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #680808;
    }
    
    }
      
  .deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: normal;
    font-size: 2.5rem;
    color: #868686; /* Change color as needed */
  }
  
    

    .slider {
      margin-top: 10px;
      
      .slide {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        
        img {
          width: 100%;
          height: 400px; // 고정 높이 설정 (필요에 따라 조정)
          object-fit: fill; // 이미지가 컨테이너를 채우도록
          border-radius: 4px;
        }
      }
      &:hover {
        .slick-prev,
        .slick-next {
          display: block !important;
        }
      }
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      z-index: 1;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }
    // .slick-track {
    //   display: flex !important;
    //   gap: 20px !important; /* Gap between slides */
    // }
  
    // .slick-slide {
    //   padding: 0 10px !important; /* spacing between slides */
    //   box-sizing: border-box;
    // }
  } 
}

.titleReview {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333333;
  font-family: "Red Hat Display", sans-serif;
  margin-top: 50px;
}

.hotelTitle {
  max-width: 1300px;
  margin: 0px auto;
  font-family: "Red Hat Display", sans-serif;
  font-size: 54px;
  margin-bottom: 60px;
  color: #333333;
  font-weight: bold;
}

.description {
  color: #333333;
  font-family: 'NotoSansKR';

  font-size: 24px;
  max-width: 1300px;
  margin: 0px auto;
  line-height: 50px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.line {
  max-width: 1300px;
  margin: 0px auto;
  border-top: 1px solid #616161;
  margin-bottom: 100px;
  margin-top: 100px;
}
.location {
  background: #A18C80;
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  font-size: 24px;
  color: #E5E5E5;
  font-family: "Red Hat Display", sans-serif;
  padding-bottom: 100px;
  margin-left: 5%;
  padding-top: 50px;
}

.modifyButton {
  position: relative;
  left: 71%;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  margin-right: 10px;
  color: #fff;
  background-color: #555555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #643333;
  }
}