.whole {
  width: 100%;
  display: flex;

  .authContainer {
    width: 55%;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F4E8D3;

    .errorMessage {
      color: #ffff00;
      font-size: 0.8em;
      text-align: center;
    }
  }
}