.signupPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 120px;
}

.formStep {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0s linear 1s;
}

.formStepActive {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}


/*
  SignUpPage.js css
*/
.signUpBox {
  width: 55%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F4E8D3;
  padding: 40px;

  > h1, h2 {
    text-align: center;
  }
}


/*
  (Step 1) - 회원가입 이메일 검증, 인증코드 검증 css
  (Step 2) - 닉네임 검증, 비밀번호 검증 css
  (Step 3) - 주소 등록, 휴대폰 번호 등록 css
*/
.signUpInput {
  text-align: center;
  margin: 20px 0;
  width: 90%;
  // margin: 50px auto 0;
  background: #F0E1C4;
  padding-bottom: 20px;
  border-radius: 32px;
  padding: 20px;
}



/*
  검증 성공, 검증 에러 메시지 css
*/
.errorMessage {
  color: #ff0000; // 경고 메시지를 빨간색으로 표시
  font-size: 0.8em;
  text-align: center;
}

.successMessage {
  color: green; // 성공 메시지를 초록색으로 표시
  font-size: 0.8em;
  text-align: center;
}

.invalidInput {
  border-color: #ff0000; // 유효하지 않은 입력을 빨간색 테두리로 표시
}


/*
  회원가입 개인정보를 입력하는 input 박스
*/
.input {
  width: 60%;
  padding: 10px;
  border: 1px solid #B7AE9E;
  border-radius: 32px;
  box-sizing: border-box;
  background: #F4E8D3;
}

.codeInput {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 24px;
  font-weight: bold;

  &:focus {
    border-color: #007bff;
    outline: none;
  }

  &::placeholder {
    color: #ccc;
  }
}


/*
  button css
*/
.button {
  background-color: var(--color-primary-700);
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;

  &:hover {
    background-color: #004494;
  }
}

.addressBtn {
  background-color: var(--color-primary-700);
  margin-left: 10px;
  border-radius: 50px;
  border: 1px solid #000;
  cursor: pointer;

  &:hover {
    background-color: #004494;
  }
}

.signUpBtn {
  transition: background-color 0.3s ease;
  width: 30%;
  padding: 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #004494;
  }
}

.timerHighlight {
  color: #fff;
  background-color: #f44336; // 시간이 얼마 남지 않았을 때 빨간색 배경
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}