.stepIndicator {
  display: flex;
  height: 90px;
  width: 100%;
  background: #F4E8D3;
  align-items: center;
  
  .stepContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
  }

  .stepNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    position: relative;
    pointer-events: none;

    &.active {
      background-color: #B3797A;
      height: 30px;
      width: 30px;
    }
  }
  .stepLabel {
    position: absolute;
    font-size: 12px;
    color: black;
    margin-top: 36px;
  }

  .stepLine {
    flex: 1;
    height: 2px;
    background-color: lightgray;

    &.active {
      background-color: #B37A7A;
    }
  }
}
