.header {
  background-color: #F0E2C8;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  justify-content: center;
  color: #A69991;
  width: 100%;
  height: 100px;

  .img {
    width: 70px;
    height: 70px;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin-top: 30px;
  }

  .left, .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;

    .count {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #B3797A;
      position: absolute;
      right: 131px;
      top: 29px;
      color: white;
      font-size: 0.8rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right > * {
    margin-right: 40px;
  }

  .login {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }

  .icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #A69A91;
  }

  .profile {
    width: 33px;
    height: 33px;
    cursor: pointer;
    border-radius: 50%;
  }

  .logout {
    background: none;
    border: none;
    color: inherit;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }
}

.dropdownMenu {
  position: absolute;
  top: 80px; // header 높이 만큼 내려오기
  right: 20px; // 필요에 따라 조정
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;

  ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;

    li {
      padding: 10px 20px;

      a {
        text-decoration: none;
        color: #333;
      }

      a:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.noticeWrap {
  position: absolute;
  right: 30px;
  top: 53px;
  width: 340px;
  height: 375px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 32px;
  overflow-y: auto;
  z-index: 9999;
  padding: 6px;

  .message {
    width: 93%;
    padding-top: 14px;
    margin: 0 auto;
    color: black;
    cursor: pointer;
    padding-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message:hover {
    text-decoration: underline;
  }

  .time {
    border-bottom: 1px solid black;
    text-indent: 14px;
    padding-bottom: 14px;
    padding-top: 3px;
    font-size: 0.8rem;
  }

  .clickedMessage {
    color: #989898;
    cursor: default;
  }
}
.noticeWrap::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 400px) {
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; /* 좌우 여백 추가 */

  }

  .left, .center, .right {
    flex: 1; /* 각 섹션을 동일한 크기로 만듦 */
    display: flex;
    align-items: center;
  }

  .center {
    justify-content: center;
  }

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
  }



  .welcome {
    display: none;
  }

  .basket {
    display: none;
  }

  .profile {
    display: none;
  }

  .icon {
    margin-left: 10px; /* 아이콘 간격 조절 */
  }

  .noticeWrap {
    position: absolute;
    right: 10px;
    top: 60px;
    width: 95%; /* 화면의 거의 전체를 차지하도록 변경 */
    max-width: 340px; /* 최대 너비를 설정 */
    height: 375px;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 32px;
    overflow-y: auto;
    z-index: 9999;
    padding: 6px;
  }
}