// YourComponent.module.scss
.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // 화면 중앙에 위치
  position: fixed; // 스피너를 화면에 고정
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // 다른 요소 위에 표시

  .loader{
    opacity: 1;
  }

}


