.wrap {
  width: 90%;
  margin: 50px auto;
  background: #F0E1C4;
  padding-bottom: 20px;

  .me {
    width: 90%;
    margin: 30px auto;
    padding-top: 30px;
    font-size: 23px;
    font-weight: 600;
  }

  .add {
    float: right;
    .addDog {
      font-size: 12px;
      text-decoration: underline;
      color: black;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mainContainer {
    background: #F4E8D3;
    width: 45%;
    margin: 10px 12px;
    display: flex;
    padding-bottom: 15px;
    box-sizing: border-box;
    //border-radius: 32px;

    .img {
      width: 75px;
      height: 75px;
      margin-top: 15px;
      margin-left: 15px;
      border-radius: 50%;
    }

    .wrapRight {
      margin-left: 30px;
      width: calc(100% - 130px); // 100%에서 이미지 크기(100px)와 여백(30px)을 뺀 값

      .flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .nickname {
        font-weight: 600;
        margin-bottom: 10px;
        width: 130px;
      }

      .age {
        font-size: 0.7rem;
        color: #33342c;
      }

      .modify {
        width: 70px;
        white-space: nowrap;
        font-size: 12px;
        color: #6c757d;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
    }

    .breed {
      margin-bottom: 10px;
      font-size: 12px;
      color: #6c757d;
    }
  }
}