
.wrap {

  .add {
    width: 90%;
    margin: 0 auto;


  }
  .addDog {
    align-items: center;
    text-decoration: underline;
    color: black;
    text-align: center;
    width: 20%;
    margin: 0 auto;
  }
}

