.wrap {
  width: 800px;
  margin: 50px auto;
  border-radius: 32px;
  background: #F4E8D3;
  padding-bottom: 30px;
  //font-family: " Noto Sans KR", sans-serif;
}


@media screen and (width: 400px) {
  .wrap {
    width: 105%;
  }
}