.wrap {
  width: 70%;
  margin: 50px auto;
  background: #F1E1C8;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

.img {
  width: 45px;
  height: 45px;
}

.title {
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.section {
  margin-bottom: 20px;
  width: 40%;

  .address {
    margin: 0;
  }


  label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
  }

  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 32px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    background: #F4E8D3;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  .input[readonly] {
    background-color: #F4E8D3;
    color: #6c757d;
  }

  .input::placeholder {
    font-size: 0.8rem;
  }
}

.section:nth-child(2n) {
  margin-left: 15%;
}

.successMessage {
  color: green;
  font-size: 12px;
  margin-top: 5px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submitButton {
  display: block;
  margin: 0 auto;
  width: 20%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}