// 부트스트랩 SCSS 가져오기
@import "~bootstrap/scss/functions"; // 함수 가져오기
@import "~bootstrap/scss/variables"; // 변수 가져오기
@import "~bootstrap/scss/mixins"; // 믹스인 가져오기
@import "~bootstrap/scss/card"; // 카드 스타일 추가

.treatsList {
  // height: 91vh; // 화면의 91vh/path/to/your/i
  background-size: cover; // 배경 이미지 사이즈 조정
  background-position: center; // 배경 이미지 중심 정렬
  color: white; // 기본 글자색 흰색
  margin-top: 5%;
  margin-bottom: 15%;

  // 부트스트랩 카드 추가
  .cardContainer {
    display: flex; // Flexbox 사용
    flex-wrap: wrap; // 줄 바꿈 허용
    justify-content: space-between; // 카드 간격 조정
    margin: 0 -10px; // 카드 간격 조정 (부모 요소의 패딩을 고려)

    .card {
      width: calc(50% - 10px); // 각 카드의 너비를 50%로 설정하고 간격을 고려
      margin-bottom: 20px; // 하단 여백
      box-sizing: border-box; // 박스 사이즈 조정

      // 카드 스타일
      @extend .card;
      background: white;
      border-radius: 10px; // 모서리 둥글게

      .cardBody {
        padding: 0 20px;
        padding-top: 10px; // 상단 패딩 조정
        padding-bottom: 10px; // 하단 패딩 조정
      }
    }

    .cardImageTop {
      width: 100%; // 카드 너비에 맞게 조정
      height: auto; // 비율 유지
      max-height: 320px; // 최대 높이 설정 (예: 150px)
      // object-fit: cover; // 이미지 비율 유지하면서 잘림
    }

    .addBtn {
      background-color: #e88b4f; // 버튼 배경색
      width: 50%;
      color: white; // 글자색
      border: none; // 테두리 없음
      border-radius: 25px; // 모서리 둥글게
      padding: 12px 20px; // 패딩
      margin: 10px auto 20px auto;
      cursor: pointer; // 커서 포인터로 변경
      font-size: 16px; // 글자 크기
      transition: background-color 0.3s, transform 0.2s; // 애니메이션 효과

      &:hover {
        transform: scale(1.05); // 호버 시 약간 확대
      }

      &:active {
        transform: scale(0.95); // 클릭 시 약간 축소
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column; // 세로 방향 정렬
    background-color: #f4e8d3; // 흰색 배경
    padding: 40px; // 패딩
    border-radius: 25px; // 모서리 둥글게
    width: 60%;
    margin: 0 auto; // 가운데 정렬
    box-sizing: border-box; // 박스 사이즈 조정
    color: black; // 글자색 검정
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // 그림자 효과

    h1 {
      text-align: center; // 제목 중앙 정렬
      margin: 10px 0 30px; // 상단 및 하단 여백
    }
  }

  .treat {
    border: 1px solid #ccc; // 테두리
    padding: 20px; // 패딩
    margin-bottom: 20px; // 하단 여백
    border-radius: 5px; // 모서리 둥글게
    background-color: rgba(255, 255, 255, 0.8); // 반투명 흰색 배경
  }

  .loading,
  .error {
    text-align: center; // 중앙 정렬
    margin-top: 20px; // 상단 여백

    &.error {
      color: red; // 에러 글자색 빨간색
    }
  }

  .treatList {
    display: block; // 요소를 블록 형태로
    margin: 0 auto 20px; // 자동 여백
  }

  .selectedTreats {
    position: fixed; // 고정 위치 설정
    bottom: 20px; // 화면 아래로부터의 거리
    left: 50%; // 수평 중앙 정렬
    transform: translateX(-50%); // 중앙 정렬을 위한 변환
    width: 90%; // 너비 조정
    // height: 25%;
    max-width: 40vw; // 최대 너비 설정
    opacity: 0.9;
    margin: 0 auto; // 중앙 정렬
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    z-index: 1000; // 다른 요소 위에 보이게 설정

    .imageBoxContainer {
      display: flex; // flexbox 사용
      flex-wrap: wrap; // 줄 바꿈 허용
      justify-content: center; // 중앙 정렬
      margin-top: 20px; // 간식 이미지와 제목 간격
    }

    .imageBox {
      width: 100px; // 이미지 박스의 너비
      height: 100px; // 이미지 박스의 높이
      margin: 10px; // 이미지 박스 간격
      border: 1px solid #ccc; // 테두리 추가
      border-radius: 5px; // 둥글게
      overflow: hidden; // 넘치는 이미지 부분 숨김
    }

    .treatImage {
      width: 100%; // 이미지 너비를 박스에 맞춤
      opacity: 0.8;
      height: auto; // 비율 유지
    }
  }

  .buttonContainer {
    text-align: center; // 버튼 중앙 정렬
    margin-top: 0px; // 버튼과 리스트 간의 간격 추가
  }

  .nextButton {
    width: 20%; // 버튼 너비 증가
    margin: 30px auto 0 auto; // 버튼을 수평 가운데 정렬
    background-color: rgb(155, 0, 0);
    color: white;
    border: none;
    border-radius: 5px; // 버튼 모서리 둥글게
    padding: 12px 0; // 버튼 패딩 조정
    text-align: center;
    font-size: 18px; // 버튼 텍스트 크기 증가
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; // 애니메이션 추가

    &:hover {
      background-color: #550d0d;
      transform: scale(1.05); // 호버 시 약간 확대
    }

    &:active {
      transform: scale(0.95); // 클릭 시 약간 축소
    }
  }
}
