.wrap {
  width: 50%;
  margin: 50px auto;
  border-radius: 32px;
  background: #F4E8D3;
  padding-bottom: 30px;

  .subWrap {
    width: 90%;
    margin: 50px auto 0;
    background: #F0E1C4;
    padding-bottom: 20px
  }
}

@media screen and (max-width: 400px) {
  .wrap {
    width: 90%;
    margin: 20px auto;
  }

  .subWrap {
    width: 100%;
    margin-top: 20px;
  }
}