.wrap {
  width: 70%;
  margin: 50px auto;
  background: #F1E1C8;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .img {
    width: 45px;
    height: 45px;
  }

  .flex {
    display: flex;

    .left {
      width: 70%;

      .title {
        text-align: left;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        color: #333;
      }

      .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;

        .item {
          color: #6c757d;
          text-align: start;
          white-space: pre-wrap;
          width: 107px;
        }

        .sub {
          font-size: 0.8rem;
          color: #6c757d;
          margin-left: 10px;
        }

        .input {
          width: 30%;
          padding: 7px;
          border: 1px solid #B7AE9E;
          border-radius: 10px;
          box-sizing: border-box;
          background: #F4E8D3;
        }

        .input:focus {
          outline: none;
        }

        .answer {
          display: flex;
          flex-wrap: wrap;
        }

        .badge {
          background-color: #F4E8D3;
          border: 1px solid #B7AE9E;
          color: #494e53;
          padding: 5px 10px;
          border-radius: 15px;
          margin-right: 5px;
          margin-bottom: 5px;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
    }

    .right {
      width: 25%;
      height: 25%;
      overflow: hidden;
      margin-top: 50px;

      .dogProfileUrl {
        max-width: 100%;
      }
    }
  }
}